html, body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.navigation-bar {
    width: 65%;
    display: flex;
    position: fixed;
    justify-content: space-between;
}
a.knight-logo-link {
    text-decoration: none;
}
a.knight-logo-link h3 {
    font-size: 28px;
    color: #1d3ada;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
}
.email-container {
    grid-row: 5/7;
    grid-column: 1/1;
    transform: rotate(-90deg);
    text-decoration: none;
    color: white;
    min-width: 250px;
}
.email-contact {
    text-decoration: none;
    color: white;
    transition: all 300ms ease-in-out;
}
.email-contact:hover {
    color: #1d3ada;
}
.fa-envelope {
    padding-right: 10px;
}

.main-navigation {
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-self: center;
    margin: 10px 0;
    padding: 0;
}

li.navigation-li {
    list-style: none;
    padding: 0;
    transition: all ease-in-out 300ms;
}

.main-navigation-anchors,
.search-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all 300ms ease-in-out 0s;
}

.main-navigation-anchors:hover,
.search-link:hover {
    color: rgb(52, 231, 255);
    letter-spacing: 4px;
}

.right-navigation-menu {
    display: flex;
    grid-column: 11/11;
    grid-row: 1/11;
    background: #0D0D0D;
    border-left: 5px solid #b9434300;
    border-image: linear-gradient(to bottom, #01073c 0%, #0021ff 50%, #01073c 100%);
    border-image-slice: 1;
    justify-content: space-between;
    flex-direction: column;
    z-index: 10;
}
.search {
height: 50%;
}

.fa-search {
    padding: 10px;
}

.search-link {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    transform: translateY(100%);
}
.hamburger-menu {
    padding: 10px;
    height: 50%;
    margin: auto;
  }
  
  .hamburger-menu:hover {
    cursor: pointer;
  }
  
  .hamburger-menu span:after,
  .hamburger-menu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
  }
  
  .hamburger-menu span:after {
    top: 18px;
  }
  
  .hamburger-menu span {
    position: relative;
    display: block;
  }
  
  .hamburger-menu span,
  .hamburger-menu span:after,
  .hamburger-menu span:before {
    width: 28px;
    height: 3px;
    background-color: #42a5f5;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }
  
  .hamburger-menu.toggle-active span {
    background-color: transparent;
  }
  
  .hamburger-menu.toggle-active span:before {
    transform: rotate(400deg) translate(-1px, 0px);
  }
  
  .hamburger-menu.toggle-active span:after {
    transform: rotate(-400deg) translate(6px, -7px);
  }
  .phone-number {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(-100%);
  }
  .fa-phone {
    transform: rotate(-180deg);
  }


#card-1 {
    /* background: url("homepage-bg.jpg");
    background-size: cover;
    background-attachment: fixed; */
    background-color: #0c0c0cf0;;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(11, 1fr);
    height: 100vh;
    width: 100%;
}
.home-page-watch {
    background: url(watch3.png);
    grid-row: 4/8;
    grid-column: 4/6;
    background-size: contain;
    min-width: 200px;
    min-height: 400px;
    transform: translateY(-10%);
    background-repeat: no-repeat;
}
h1.knight-watches-title {
    font-size: 3em;
    color: white;
    margin: 0;
    grid-row: 4/5;
    grid-column: 6/11;
}
.knight-watches-title::After {
    content: '\00a9';
    font-size: 14px;
    position: absolute;
}

.image-overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
}

.card-1-text-container {
    grid-row: 4/7;
    grid-column: 1/11;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header {
    margin: 0;
    text-align: left;
    font-size: 18em;
    color: #4342422e;
}

.card-1-text-container-paragraph {
    margin: 0;
    font-size: 30px;
    text-align: left;
    color: #fff;
    grid-row: 5/8;
    grid-column: 6/9;
    min-width: 500px;
}

#card-2 {
    width: 100%;
    height: 50vh;
    padding: 15px;
    box-sizing: border-box;
}

.watch-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
}

.watch:hover {
    transform: scale(1.1);
}

.watch {
    width: 200px;
    height: 350px;
    transition: all 300ms ease-in-out;
}

.watch-text {
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all ease-in-out 300ms;
}

.watch1:hover .watch-text {
    color: rgb(52, 231, 255);
    transform: scale(1.1);
}